body{
  background-color: #000 !important;
 
  
}
body h2,h3,p,li,ul,a{
  font-family: 'Girassol', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Baloo Bhai 2', cursive;
  font-size: 20px;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white !important;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white !important;
}

.twitter {
  background: #55ACEE;
  color: white !important;
}

.google {
  background:  #9e6e3d;
  color: white !important;
}

.linkedin {
  background: #007bb5;
  color: white !important;
}

.youtube {
  background: #bb0000;
  color: white !important;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

/* Navbar section */
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
  background-color: black;
  text-decoration: none;

}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}

/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
  background-color: black;
  
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}
.cool-link {
  display: inline-block;
  color:white;
  text-decoration: none !important;
}

.cool-link::after {
  content: '';
  display: block;
  
  width: 0;
  height: 5px;
  background:#9e6e3d;
  transition: width .3s;

}

.cool-link:hover::after {
  width: 100%;
  
}



/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	




	



/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: black;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #254441;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	
 
  
  .cool-link {
    display: inline-block;
    color:white;
    text-decoration: none !important;
    clear: both;
}

.cool-link::after {
    content: '';
    display: block;
    
    width: 0;
    height: 5px;
    background:#9e6e3d;
    transition: width .3s;

}

.cool-link:hover::after {
    width: 100%;
    
}
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
  }
  

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
/*carousel*/

* CROUSAL-STARTS */
#sg-carousel {
    position: relative;
    height: 100vh;
}
#sg-carousel .carousel-inner .item {
    height: 100vh;
}
.carousel-caption{top:50%;}
.carousel-caption h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#sg-carousel .carousel-control.left {
    top: 48%;
}
#sg-carousel .carousel-control.right {
    top: 48%;
}
.uppr-txt {
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
}
#sg-carousel .carousel-control.left,
#sg-carousel .carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    opacity: 0;
    text-shadow: none;
    transition: all 0.8s ease 0s;
}
.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: auto;
    transition: all 0.8s ease 0s;
}
.carousel-inner {
    box-shadow: 2px 6px 21px;
}
.fa-angle-right,
.fa-angle-left {
    font-size: 80px;
}
#sg-carousel:hover .carousel-control.left {
    left: 38px;
    transition: all .2s ease 0;
}
#sg-carousel:hover .carousel-control.right {
    right: 38px;
    transition: all .2s ease 0;
}
#sg-carousel:hover .carousel-control.left,
#sg-carousel:hover .carousel-control.right {
    opacity: 1;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.item.active img {
    transition: transform 5000ms linear 0s;
    transform: scale(1.05, 1.05);
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
    font-size: 80px;
}
.carousel-caption {
    left: 60%;
    padding-bottom: 5%;
    right: 0;
    text-align: left;
}

.carousel-caption h1 {
    font-family: raavi;
    font-size: 60px;
    font-weight: 600;
    line-height: 18px;
}
.carousel-caption > p {
    font-size: 30px;
    color: #fff;
}
.carousel-caption > a {
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    padding: 6px 12px;
}
.button--tamaya {
    border: 2px solid #40a304 !important;
    border-radius: 5px;
    color: #7986cb;
    min-width: 180px;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.button--border-thick {
    border: 3px solid;
}
.button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: inherit;
    display: block;
    float: left;
    max-width: 250px;
    min-width: 199px;
    padding: 1em 7em;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}
.button--tamaya::before {
    padding-top: 1em;
    top: 0;
}
.button--tamaya::before,
.button--tamaya::after {
    background: #40a304;
    color: #fff;
    content: attr(data-text);
    height: 50%;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1) 0s;
    width: 100%;
}
.button--tamaya::after {
    bottom: 0;
    line-height: 0;
}
.button--tamaya:hover::before {
    transform: translate3d(0px, -100%, 0px);
}
.button--tamaya:hover::after {
    transform: translate3d(0px, 100%, 0px);
    color: #40a304;
}
.button--tamaya:hover {
    color: #40a304;
    font-weight: 600;
}
.carousel-indicators li {
    background-color: #b3b5b9;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    width: 12px;
    border: 0;
}
.carousel-indicators .active {
    background-color: #041132;
    height: 12px;
    margin: 0;
    width: 12px;
    border: 0;
}
#sg-carousel h1 {
    animation-delay: 1s;
	margin-bottom:25px;
}
#sg-carousel p {
    animation-delay: 2s;
}
#sg-carousel button {
    animation-delay: 3s;
	margin-top:25px;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

  .btn3 {
  
    background-color: white;
    color: #4CAF50;
    border: 4px solid #4CAF50;
    transition: border 0.7s ease-out, text-transform 1s, border-radius 1s ease-out;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 10px 10px rgba(77, 77, 77, 0.5);
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
   letter-spacing: -0.09em;
    line-height: 25px;
     padding: 0 20px;
     margin:10px;
  
  }
  
  .btn3:hover {
    border: 8px solid #4CAF50;
    text-transform: uppercase;
    border-radius: 30px;
    text-decoration: underline;
  }
  
  .btn3:active {
    background-color: #4CAF50;
    color: white;
    transform: translate3d(3px, 3px, 0px);
    box-shadow: 7px 7px rgba(77, 77, 77, 0.5);
  }
  /* about me*/
  .about{
      padding: 150px;
      
  }
  .about .card{
     
  }
  .d-flex{
      
    font-size:18px;
    font-weight: bolder;
    
  }
  .card-title{
      text-align: center;
      padding: 10px;
  }
.word-space{
    text-align:center;
   padding-left: 120px;
   
  }
  .word-space1{
    text-align:center;
   padding-left: 100px;
   
  }
  .word-space2{
    text-align:center;
   padding-left: 75px;
   
  }
  .word-space3{
    text-align:center;
   padding-left: 105px;
   
  }
  .about img{
      
      position: relative;
      width:250px;
      height:450px;
  }
  .no{
    position: relative;
    font-size: 30px;
    font-weight: bolder;
    color:brown;
}
  h1 {
    
    text-align:left;
    font-size:50px;
    font-family: Emblema One;
    color:white;
    
    
    text-shadow:
      1px 1px 0px #c4dbe2,
      2px 2px 0px #b4d1d9,
      3px 3px 0px #a6c6cf,
      4px 4px 0px #94b8c3,
      5px 5px 0px #87aeb9,
      6px 6px 0px #7aa3af,
      7px 7px 0px #6d97a3,
      8px 8px 0px #618b98,
      9px 9px 0px #56818e,
      10px 10px 0px #4c7683,
      15px 15px 25px rgba(0,0,0,.9);
        transition: .5s ease-in-out;
  }
  
  h1:hover {
      left:20px;
    text-shadow:
      -1px 1px 0px #c4dbe2,
      -2px 2px 0px #b4d1d9,
      -3px 3px 0px #a6c6cf,
      -4px 4px 0px #94b8c3,
      -5px 5px 0px #87aeb9,
      -6px 6px 0px #7aa3af,
      -7px 7px 0px #6d97a3,
      -8px 8px 0px #618b98,
      -9px 9px 0px #56818e,
      -10px 10px 0px #4c7683,
      -15px 15px 25px rgba(0,0,0,.9);
  }
  /*resume*/
  .resume .title{
      text-align: center;
  }

span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: white;
 
}
.box{
    padding:60px 0px;
}

.box-part{
    background:darkgray;
    border-radius:10px ;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
    
    color: white;
}

.fab{
     color:#4183D7;
}
.title h4{
    color: yellow;
}
.resume .btn3{
    margin-left: 250px;
    padding: 10px;
    display: inline-flexbox;
    text-align: center;
     position: relative;
}
/*service*/
.service .title{
  text-align: center;
  padding: 30px;
}
.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(29, 106, 170, .50);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

/*skill*/

.ski .title{
  text-align:center;
  padding: 40px;
 
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');




.skill1 {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-around;

 
}

.skill1 .card2 {
  position: relative;
 
  background: linear-gradient(0deg, #1b1b1b,#222,#1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
margin:10px;

}

.skill1 .card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.skill1 .card2:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.03);
  pointer-events: none;
  z-index:1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card2:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card2:hover .percent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card2:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;  
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px,5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
} 

.card2:nth-child(1) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 100) / 100);
  stroke: #ff000d;
}

.card2:nth-child(2) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #fff200;
}

.card2:nth-child(3) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 20) / 100);
  stroke: #000dff;
}
/*project*/
#projects-section h1{
  text-align: center;
  padding: 30px;
}

/*blog*/
#blog-section h1{
  text-align: center;
  padding: 30px;
}
/*contact*/
#contact-section h1{
  text-align: center;
  padding: 30px;
}
#contact-section .icon {
  background-color: slategrey;
  border-radius: 50%;
  border: 1x solid black;
  padding:8px;
}
#section-counter .text{
  background-color: darkslategray;
  border-radius: 3px;
  width: 160px;
  height:120px;
  color:white;
  position: relative;
  top: 50px;
  text-align: center;

}
#section-counter  .img {
  width:100%;
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*footer*/
.ftco-footer{
 
  color: white;
}